.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 20px;
    background-color: var(--background-primary);
    transition: background-color 0.3s;
}

.leftSection,
.rightSection,
.searchSection {
    display: flex;
    align-items: center;
    gap: 15px;
}

.leftSection h2 {
    font-size: 22px;
    font-weight: 400;
    color: var(--text-secondary);
}

.logo {
    width: 40px;
    height: 40px;
}

.searchSection {
    flex-grow: 1;
    max-width: 720px;
    margin: 0 30px;
    background-color: var(--background-secondary);
    border-radius: 8px;
    padding: 0 5px;
}

.searchSection input {
    width: 100%;
    border: none;
    background-color: transparent;
    padding: 12px;
    font-size: 16px;
    outline: none;
    color: var(--text-primary);
}

.searchButton {
    background: none;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
}

.searchButton:hover {
    background-color: var(--background-tertiary-hover);
}

.leftSection span,
.rightSection span,
.searchButton span {
    color: var(--text-secondary);
    cursor: pointer;
    padding: 8px;
    border-radius: 50%;
}

.leftSection span:hover,
.rightSection span:hover {
    background-color: var(--background-tertiary-hover);
}

@media (max-width: 600px) {
    .header {
        padding: 8px 2vw;
        gap: 8px;
    }
    .leftSection,
    .rightSection {
        gap: 8px;
    }
    .leftSection {
        justify-content: flex-start;
        margin-bottom: 4px;
    }
    .rightSection {
        justify-content: flex-end;
        margin-top: 4px;
    }
    .searchSection {
        margin: 0;
        max-width: 100%;
        width: 100%;
        padding: 0 2px;
    }
    .searchSection input {
        font-size: 15px;
        padding: 10px 6px;
    }
    .logo {
        width: 28px;
        height: 28px;
    }
    .leftSection h2 {
        font-size: 16px;
    }
}

@media (max-width: 420px){
    .searchSection input {
        font-size: 14px;
        padding: 2px 0.5px;
    }

}